.container{
    padding: 25px;
    border-bottom: 1px solid gainsboro;
    display: flex;
    justify-content: space-between
}

.logo{
    width: 180px;
    object-fit: cover;
}

.flag{
    max-width: 20px;
    height: 15px;
    object-fit: cover;
}
