.container {
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin: 50px 0;
    transition-property: transform;
    transition-duration: .3s;
    -webkit-transition: .3s;
}

.container:hover {
    transform: scale(1.1);
}

.container:hover {
    cursor: pointer;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img {
    max-width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: inherit;
}

@keyframes rainbow-background {
    0% {
        background-color: #ff0000;
    }
    8.333% {
        background-color: #ff8000;
    }
    16.667% {
        background-color: #ffff00;
    }
    25.000% {
        background-color: #80ff00;
    }
    33.333% {
        background-color: #00ff00;
    }
    41.667% {
        background-color: #00ff80;
    }
    50.000% {
        background-color: #00ffff;
    }
    58.333% {
        background-color: #0080ff;
    }
    66.667% {
        background-color: #0000ff;
    }
    75.000% {
        background-color: #8000ff;
    }
    83.333% {
        background-color: #ff00ff;
    }
    91.667% {
        background-color: #ff0080;
    }
    100.00% {
        background-color: #ff0000;
    }
}

.container {
    animation: rainbow-background 5s infinite;
}